/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  /*
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  */
  padding: 20px;
  font-size: 18px;
  color: var(--text-color);

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/* HEADER */
.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  width: fit-content;
  gap: 23px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: transparent;
  color: var(--accent-color);
}
/* Header top and bottom decor elements */
/* top decor */
.header__top-decor-element {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  color: var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.header__top-decor-element::before {
  content: "";
  margin: auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__top-decor-element-rec {
  position: absolute;
  text-transform: uppercase;
  right: 27px;
}
/* Bottom decor */
.header__bottom-decor-element {
  margin-block-start: 89px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}
/* Header title style */

.header__title-box {
  margin-block-start: 274.5px;
  display: flex;
  flex-direction: column;
  gap: 114px;
}

.header__title {
  position: relative;
  right: 20px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* переменная? */
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  width: 491px;
  align-self: flex-end;
  color: var(--sub-title-color);
  background-color: var(--accent-color);
  font-weight: bold;
  line-height: 23.4px;
}

/* header media */
/* Для планшетов */
@media (width < 1024px) {
  .header__theme-menu {
    justify-content: flex-end;
  }
  
  .header__theme-menu-list {
    margin-block-start: 172px;
    flex-direction: column;
    gap: 10px;
  }
  
  .header__title-box {
    margin-block-start: 174.5px;
    gap: 162px;
  }

  .title-decor {
    width: 364px;
  }

  .header__bottom-decor-element {
    margin-block-start: 138px;
  }
}

/* Для мобильных */

/* End of HEADER */
