/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
  font-size: 18px;
  color: var(--text-color);

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/* HEADER */
/* First Row */
.header__top-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__theme-menu {
  grid-column: 2;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 23px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}

.header__top-box-decorative-element {
  grid-column: 3;
  justify-self: end;
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
  border-inline-end: var(--decorative-element-border);
  border-block-start: var(--decorative-element-border);
}

.header__top-box-decorative-element span {
  display: block;
  margin: auto;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__top-box-decorative-element::before {
  content: "rec";
  position: absolute;
  right: 27px;
  text-transform: uppercase;
  color: var(--accent-color);
}

/* Second Row */
.header__title-box {
  margin-block-start: 274.5px;
  display: flex;
  flex-direction: column;
  gap: 114px;
}
.header__title {
  position: relative;
  right: 20px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.title-decor {
  width: 491px;
  align-self: flex-end;
  background-color: var(--accent-color);
  color: var(--sub-title-color);
  line-height: 23.4px;
  font-weight: bold;
}

/* Third Row */
.header__bottom-decorative-element {
  margin-block-start: 89px;
  width: 25px;
  height: 25px;
  border-inline-start: var(--decorative-element-border);
  border-block-end: var(--decorative-element-border);
}

/* Планшеты */
@media (width < 1024px) {
  /* First Row */
  .header__top-box {
    grid-template-rows: repeat(2, auto);
    row-gap: 146px;
  }

  .header__theme-menu {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__top-box-decorative-element {
    grid-column: 3;
    grid-row: 1;
  }
  /* Second Row */
  .header__title-box {
    margin-block-start: 174.5px;
    gap: 162px;
  }

  .title-decor {
    width: 364px;
    align-self: flex-end;
    background-color: var(--accent-color);
    color: var(--sub-title-color);
    line-height: 23.4px;
    font-weight: bold;
  }

  /* Third Row */
  .header__bottom-decorative-element {
    margin-block-start: 138px;
  }
}

/* Смартфоны */
/* End of HEADER */
