/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--bg-image);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
  color: var(--text-color);

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/* HEADER */
.header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu {
  justify-self: center;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 23px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--section-title-color);
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--main-title-color);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent-color);
  align-self: center;
}

.header__paragraph {
  height: fit-content;
  width: calc(50% - 21px);
  justify-self: end;
  margin-block-start: 51px;
  margin-inline-end: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--sub-title-color);
  line-height: 23.4px;
  font-weight: bold;
  font-size: 18px;
}

/* Стили активной кнопки, стили при наведении и фокусе */
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--section-title-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--section-title-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--section-title-color);
}

/* Decorative elements */
.header__top-decorative-element {
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--section-title-color);
  border-inline-end: 1px solid var(--section-title-color);
}

.header__top-decorative-element::before {
  content: "";
  display: var(--display-decorative-element);
  margin: auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--section-title-color);
  box-shadow: 0 0 4px 2px var(--section-title-color);
}

.header__top-decorative-element span {
  position: absolute;
  display: var(--display-decorative-element);
  right: 27px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__bottom-decorative-element {
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-block-end: 1px solid var(--section-title-color);
  border-inline-start: 1px solid var(--section-title-color);
}

/* Планшеты */
@media (width < 1024px) {
  .header__theme-menu {
    justify-self: end;
    align-self: end;
    margin: 0 23px 53px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 11.5px;
  }

  .header__paragraph {
    margin-block-start: 40px;
  }
}

/* смартфоны */
@media (width < 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: end;
    margin: 0 15px 53px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 10px;
  }
  .header__paragraph {
    height: fit-content;
    width: calc(100% - 20px);
    justify-self: start;
    margin: 40px auto auto auto;
  }

  /* Decorative elements */
  .header__top-decorative-element {
    top: 10px;
    right: 10px;
  }

  .header__bottom-decorative-element {
    bottom: 10px;
    left: 10px;
  }
}

/* End of HEADER */

/* MAIN */
.main {
  margin-block-start: 60px;
  padding: 0 20px;
}

/* first section */

.section {
  display: flex;
  justify-content: space-between;
}

.section__title {
  width: 32.008%;
}

.section__title-decor {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section__list {
  width: 65.947%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__list-item-title {
  width: 100%;
  font-size: 18px;
}

.section__list-item-paragraph {
  line-height: 23.4px;
}

.section__list-item-paragraph a {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

/* Эффект HOVER и Focus для ссылки */

.section__list-item-paragraph a:hover {
  border-block-end: 1px solid var(--text-color);
}

.section__list-item-paragraph a:focus {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

/* Планшеты */
@media (width < 1024px) {
  .section__title {
    width: 32.417%;
  }

  .section__list {
    width: 64.835%;
  }
}

/* Смартфоны  */
@media (width < 768px) {
  .main {
    margin-block-start: 40px;
    padding: 0 10px;
  }

  .section {
    flex-direction: column;
    gap: 20px;
  }

  .section__title {
    width: 100%;
  }

  .section__list {
    width: 100%;
  }
}

/* end of first section */

/* second section */
.sectioon__decreased-concentration {
  margin-block-start: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectioon__decreased-concentration-title {
  width: calc((100% - 40px) / 3);
}

.sectioon__decreased-concentration-list {
  display: flex;
  justify-content: space-between;
}

.sectioon__decreased-concentration-list-item {
  width: calc((100% - 40px) / 3);
}

/* Планшеты */
@media (width < 1024px) {
  .sectioon__decreased-concentration-list {
    flex-direction: column;
    gap: 20px;
  }

  .sectioon__decreased-concentration-list-item {
    width: 100%;
  }
}

/* Смартфоны */
@media (width < 768px) {
  .sectioon__decreased-concentration {
    margin-block-start: 50px;
  }
  .sectioon__decreased-concentration-title {
    width: 100%;
  }
}
/* end of second section */

/* Third section */
.section__better-concetnration {
  margin-block-start: 80px;
  display: flex;
  justify-content: space-between;
}

.section__better-concetnration-title {
  width: 32.012%;
}

.section__better-concetnration-box {
  width: 65.955%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__better-concetnration-box-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__better-concetnration-box-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__better-concetnration-box-list-item-header-paragraph {
  background-color: var(--accent-color);
  color: var(--sub-title-color);
  line-height: 23.4px;
  font-size: 18px;
}

/* Планшеты */
@media (width < 1024px) {
  .section__better-concetnration-title {
    width: 32.417%;
  }

  .section__better-concetnration-box {
    width: 64.835%;
  }
}
/* Смартфоны */
@media (width < 768px) {
  .section__better-concetnration {
    margin-block-start: 50px;
    flex-direction: column;
    gap: 20px;
  }

  .section__better-concetnration-title {
    width: 100%;
  }

  .section__better-concetnration-box {
    width: 100%;
  }
}

/* End of third section */

/* Section with pictures */
.section__pictures {
  margin-block-start: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__pictures-pictures-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  gap: 20px;
}

.section__pictures-pictures-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__pictures-pictures-box-img:nth-child(1) {
  grid-column: 1 / 3;
}

.section__pictures-pictures-box-img:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.section__pictures-pictures-box-img:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.section__pictures-pictures-box-img:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.section__pictures-pictures-box-img:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

/* Плашеты */

@media (width < 1024px) {
  .section__pictures-pictures-box {
    grid-template-rows: 192px 230px 318px;
  }
}

/* Смартфоны */

@media (width < 768px) {
  .section__pictures {
    margin-block-start: 50px;
    gap: 10px;
  }

  .section__pictures-pictures-box {
    grid-template-columns: 1fr;
    grid-template-rows: 142px 355px 237px 355px 237px;
    gap: 10px;
  }

  .section__pictures-pictures-box-img:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .section__pictures-pictures-box-img:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .section__pictures-pictures-box-img:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .section__pictures-pictures-box-img:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .section__pictures-pictures-box-img:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }
}

/* End of section with pictures */

/* End of Main */

/* Footer */
.footer {
  position: relative;
  height: 100vh;
  margin-block-start: 60px;
  padding: 0 20px;
  display: flex;
}

.footer__top-decorative-element {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--section-title-color);
  border-inline-end: 1px solid var(--section-title-color);
}

.footer__title {
  margin: auto;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px var(--accent-color);
}

/* Планшеты */

/* Смартфоны */
@media (width < 768px) {
  .footer {
    position: relative;
    height: 100vh;
    margin-block-start: 40px;
    padding: 0 10px;
    display: flex;
  }

  .footer__top-decorative-element {
    top: 10px;
    right: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
/* End of Footer */
