/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

@media (prefers-color-scheme: dark) {
  :root {
    --main-title-color: rgb(219, 0, 255);
    --sub-title-color: rgba(0, 0, 40, 1);
    --text-color: rgba(241, 178, 206, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --section-title-color: var(--accent-color);
    --bg-image: url(../images/cover-image-dark.png);
    --decorative-element-border: 1px solid var(--accent-color);
    --opacity-for-rec-circle: 1;
  }
  
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: rgba(255, 194, 230, 1);
    --sub-title-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --section-title-color: rgba(53, 52, 48, 1);
    --bg-image: url(../images/cover-image-light.png);
    --decorative-element-border: 1px solid var(--section-title-color);
    --opacity-for-rec-circle: 0;
  }
}

